<!DOCTYPE html>
<html>
<head>
</head>
<body>
    

    
<div style='display: flex; justify-content: flex-start; margin: 10px 0;'>
            <img src='data:image/png;base64,{{ image_base64 }}' width='30' height='30'style='margin-right: 5px;'>
            <div style='max-width: 70%; background-color: #F1F0F0; padding: 10px 15px; border-radius: 15px; text-align: left;
            font-size: 15px; font-family: "Segoe UI", sans-serif;'>
                {{MSG}}
                <div style='font-size: 8px; color: gray; text-align: right; font-family: "Segoe UI", sans-serif;'>{{TIME}}</div>
            </div>
        </div>
</body>
</html>
